* {
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  margin: 0px;
  font-family: sans-serif;
  overflow-x: hidden;
  position: relative; }

.bg {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.872)), url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow-x: hidden; }
  .bg .navegador {
    position: fixed;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.845);
    right: 0px;
    left: 0px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    transition: transform 0.4s ease;
    transform: translateX(10000px);
    z-index: 970;
    overflow: auto; }
    @media (min-width: 920px) {
      .bg .navegador {
        transform: translateX(0px);
        background-color: transparent;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 100px;
        margin-top: 30px;
        position: relative;
        overflow: hidden; } }
    .bg .navegador .logo {
      width: 250px;
      margin-top: 70px;
      margin-bottom: 30px; }
      .bg .navegador .logo img {
        width: 100%; }
        @media (min-width: 920px) {
          .bg .navegador .logo img {
            width: 200px; } }
      @media (min-width: 920px) {
        .bg .navegador .logo {
          margin: 0px; } }
    .bg .navegador .enlaces {
      display: flex;
      flex-flow: column nowrap;
      gap: 20px; }
      .bg .navegador .enlaces a {
        color: aliceblue;
        text-decoration: none;
        font-size: 20px;
        font-weight: 800;
        text-align: center;
        padding: 5px; }
        .bg .navegador .enlaces a:last-child {
          background-color: #fb9702;
          width: auto;
          height: auto;
          padding: 5px;
          border-radius: 5px; }
        .bg .navegador .enlaces a:hover {
          background-color: #fb9702;
          padding-left: 10px;
          padding-right: 10px;
          border-radius: 5px; }
        @media (min-width: 920px) {
          .bg .navegador .enlaces a {
            font-size: 14px;
            overflow: hidden; } }
      @media (min-width: 920px) {
        .bg .navegador .enlaces {
          transform: translateX(0px);
          flex-flow: row nowrap;
          margin-right: 25px; } }
  .bg .navegador-active {
    transition: transform 0.4s ease;
    transform: translateY(0px); }
  .bg .hamburger {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #fb9702;
    border-radius: 50%;
    z-index: 970; }
    @media (min-width: 920px) {
      .bg .hamburger {
        display: none; } }
  .bg .eslogan {
    color: antiquewhite;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    background-color: #fb9702;
    position: fixed;
    z-index: 950; }
    @media (min-width: 920px) {
      .bg .eslogan {
        z-index: 990; } }
    .bg .eslogan img {
      filter: invert(1);
      width: 25px;
      margin-bottom: -5px;
      margin-right: 5px; }
    .bg .eslogan p {
      margin: 0px;
      padding-bottom: 5px; }
  .bg .nav-content {
    margin-top: 10vh;
    color: aliceblue;
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    text-align: center; }
    .bg .nav-content .titulo h1 {
      font-size: 4.5rem;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      margin-bottom: 0px; }
      @media (min-width: 920px) {
        .bg .nav-content .titulo h1 {
          font-size: 6.5rem; } }
    .bg .nav-content .titulo h2 {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      width: 0;
      overflow: hidden;
      white-space: nowrap;
      font-size: 1rem;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 30px;
      text-align: justify;
      border-right: 0.15em solid #fb9702;
      animation: typing 4s steps(45) 1s 1 normal both, blink 1s steps(1) infinite; }
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
      @media (min-width: 920px) {
        @keyframes typing {
          from {
            width: 0; }
          to {
            width: 74%; } } }
    .bg .nav-content a {
      background-color: #fbbf02;
      width: 150px;
      height: 35px;
      border-radius: 5px;
      border: 1px solid #fb9702;
      filter: drop-shadow(0px 0px 10px #fb9702);
      color: #0b3238;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      z-index: 500; }
      .bg .nav-content a:hover {
        transform: scale(1.1); }
    .bg .nav-content p {
      margin-top: 9px;
      font-size: 12px; }

.contenedor-viajes {
  position: relative; }
  .contenedor-viajes .titulo-seccion {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 50px; }
    .contenedor-viajes .titulo-seccion h1 {
      color: #0b3238;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      border: 3px 10px 3px 10px inset gray aliceblue; }
  .contenedor-viajes article {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px; }
    .contenedor-viajes article .card {
      z-index: 940; }
      .contenedor-viajes article .card .card-body .card-titulo-content {
        width: 100%;
        height: auto;
        margin-bottom: 20px; }
        .contenedor-viajes article .card .card-body .card-titulo-content h5 {
          display: inline;
          font-weight: 700; }
        .contenedor-viajes article .card .card-body .card-titulo-content .message {
          border-radius: 3px;
          padding: 4px;
          font-size: 12px;
          font-weight: 700;
          color: aliceblue; }
        .contenedor-viajes article .card .card-body .card-titulo-content .orange {
          background-color: #fb9702; }
        .contenedor-viajes article .card .card-body .card-titulo-content .green {
          background-color: #07c207; }
        .contenedor-viajes article .card .card-body .card-titulo-content .yellow {
          background-color: #d4d444; }
      .contenedor-viajes article .card .card-body p {
        display: none; }
        @media (min-width: 600px) {
          .contenedor-viajes article .card .card-body p {
            display: block; } }
  .contenedor-viajes .carrusel {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 40px; }
    .contenedor-viajes .carrusel .contenido-card {
      height: auto;
      display: flex;
      flex-flow: row wrap; }
      .contenedor-viajes .carrusel .contenido-card .contendor-card {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 30px; }
        @media (min-width: 1000px) {
          .contenedor-viajes .carrusel .contenido-card .contendor-card {
            gap: 50px; } }
        .contenedor-viajes .carrusel .contenido-card .contendor-card .card-info {
          width: 300px; }
          .contenedor-viajes .carrusel .contenido-card .contendor-card .card-info svg {
            width: 40px; }
          .contenedor-viajes .carrusel .contenido-card .contendor-card .card-info small {
            font-size: 20px;
            font-weight: 500; }
          .contenedor-viajes .carrusel .contenido-card .contendor-card .card-info .carrusel-texto {
            padding: 10px;
            font-size: 15px;
            text-align: justify; }

footer {
  background-color: #fb9702;
  width: 100vw;
  height: auto; }
  footer .contenedor-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px; }
    footer .contenedor-items .item-footer {
      color: aliceblue; }
      footer .contenedor-items .item-footer .prim {
        color: #0b3238;
        font-weight: 600;
        text-decoration: none;
        cursor: auto; }
        footer .contenedor-items .item-footer .prim:hover {
          text-decoration: none; }
      footer .contenedor-items .item-footer li {
        cursor: pointer; }
        footer .contenedor-items .item-footer li a {
          color: aliceblue;
          text-decoration: none; }
        footer .contenedor-items .item-footer li:hover {
          text-decoration: underline; }

.copis {
  width: 100vw;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.839);
  color: aliceblue;
  font-size: 14px; }

/*# sourceMappingURL=app.css.map */
